@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent-color-1: #14bc9a;
  --accent-color-2: #263238;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: purple;
}
.hidden {
  display: none;
}

body {
  position: relative;
  background-color: #fbfffe;
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Default styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  white-space: nowrap;
}

.loader {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 7vw;
  height: 7vw;
  margin: -5vw 0 0 -5vw;
  border: 16px solid var(--accent-color-1);
  border-top: 16px solid var(--accent-color-2);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.type {
  margin: 0 auto;
  background: -webkit-linear-gradient(var(--accent-color-1), #14977d);
  border-right: 0.2cm solid orangered;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(30, end), blink-cursor 0.6s step-end infinite;
  box-sizing: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0.5% 2vw;
  background-color: rgb(154, 252, 154);
  border: 1px solid rgb(101, 255, 147);
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}


.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quest {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 10vh;
}

input[type="text"] {
  width: 70%;
  background-color: #fbfffe;
  border: none;
  border-bottom: var(--accent-color-2) 2px solid;
  outline: none;
  font-size: 130%;
  transition: border-bottom 0.5s ease;
}

input[type="text"]:active,
input[type="text"]:focus {
  border-bottom: var(--accent-color-1) 2px solid;
}

::placeholder {
  font-size: 90%;
  opacity: 0.4;
}

.label-container label {
  width: 70%;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--accent-color-1);
  font-size: 80%;
  text-align: left;
}

.main-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 3;
  width: 70%;
  margin-top: 15vh;
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5% 2vw;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 190%;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  transition-property: color, background-color;
}

.main-btn:hover {
  color: var(--accent-color-2);
  background-color: var(--accent-color-1);
}

.main-btn:active {
  background-color: rgb(31, 31, 31);
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  padding: 2% 5%;
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  border-radius: 15px;
  font-weight: 500;
  white-space: pre;
  box-sizing: border-box;
}

.output-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* Responsive Checks */
@media only screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .header {
    flex-direction: column;
    height: auto;
    font-size: 60%;
  }

  .header h1 {
    margin-bottom: 1vh;
  }

  .type {
    animation: typing 2s steps(22, end), blink-cursor 0.6s step-end infinite;
  }

  .quest {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    row-gap: 5vh;
  }

  .label-container {
    min-width: fit-content;
  }

  input[type="text"] {
    width: 83%;
    font-size: 100%;
  }

  ::placeholder {
    font-size: 75%;
  }

  .label-container label {
    width: 85%;
    font-size: 80%;
  }

  .main-btn {
    grid-column: 1;
    width: 85%;
    margin-top: 5vh;
    padding: 1.2% 2vw;
    font-size: 100%;
    font-weight: 200;
  }

  #output {
    width: 100vw;
    border-radius: 10px;
  }

  .output-container {
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .loader {
    border: 10px solid var(--accent-color-1);
    border-top: 10px solid var(--accent-color-2);
  }

  .output-container > .main-btn {
    width: 92vw;
    margin-top: 3vh;
  }
}
