<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Job Description Generator</title>
    <link
      rel="shortcut icon"
      href="../static/images/favico2.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="loader" class="loader hidden"></div>
    <div class="header" id="wel">
      <h1>Find</h1>
      <h1 class="type" id="type"></h1>
    </div>
    <form method="post" class="quest" id="quest">
      <div class="label-container">
        <label for="city">Skills Input</label>
        <input
          type="text"
          id="city"
          name="skill"
          placeholder="eg: Java | Marketing | Python"
        />
      </div>

      <div class="label-container">
        <label for="year">Years of Experiance</label>
        <input
          type="text"
          id="year"
          placeholder="eg: 5 years | 10-15 years"
          name="year"
        />
      </div>

      <button type="submit" class="main-btn" id="sub" name="sub">
        Get a Job Description
      </button>
    </form>
    <div class="output-container hidden" id="output-container">
      <pre id="output" style="max-width: 90vw; white-space: pre-wrap"></pre>
      <button type="submit" id="reset_btn" class="main-btn">
        Get Another Job Description
      </button>
    </div>
    <script src="../static/javascript/main.js"></script>
  </body>
</html>
